h1 {
	margin: 0 auto;
	color: #00CC00;
	font-weight: normal;
	font-family: inherit;   
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.hoa
{height: 70px}
.a
{
	width: 50px;
	height: 15px;
	border: 1px solic red;
	color: #000099;
}
.c{ height: 30px}
.b
{
	margin-left: 300px;
}
.btn {
  background: #5a6652;
  background-image: -webkit-linear-gradient(top, #5a6652, #43802f);
  background-image: -moz-linear-gradient(top, #5a6652, #43802f);
  background-image: -ms-linear-gradient(top, #5a6652, #43802f);
  background-image: -o-linear-gradient(top, #5a6652, #43802f);
  background-image: linear-gradient(to bottom, #5a6652, #43802f);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 7px 4px 3px #000000;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left:25px;
  margin-bottom:15px;
}

.btn:hover {
  background: #665851;
  background-image: -webkit-linear-gradient(top, #665851, #a84919);
  background-image: -moz-linear-gradient(top, #665851, #a84919);
  background-image: -ms-linear-gradient(top, #665851, #a84919);
  background-image: -o-linear-gradient(top, #665851, #a84919);
  background-image: linear-gradient(to bottom, #665851, #a84919);
  text-decoration: none;
}
.page-title  {
    font-size:120%;
    text-align: left;
    margin:10px 0px;
}
.header-container {
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: relative;
    background: #5f5f5f;
    color: white;
}
.header-container .header-bar  {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.header-container .header-bar  a  {
    color: white;
    font-size: bold;
}
 
.footer-container {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #ccc;
}
.menu-container {
    text-align: right;
    margin: 10px 5px;
}
.menu-container a {
    margin: 5px 5px 5px 10px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
}
 
.site-name {
    font-size:200%;
    margin:10px 10px 10px 0px;
    padding: 5px;
}
 
.container  {
    margin: 5px 0px;
}
 
.demo-container, .login-container, .account-container {
    padding: 5px;
    border: 1px solid #ccc;
    text-align:left;
    margin:20px 0px;
}
 
.customer-info-container {
    text-align: left;
    border: 1px solid #ccc;
    padding: 0px 5px;
}
.product-preview-container {
    border: 1px solid #ccc;
    padding: 5px;
    width: 250px;
    margin: 10px ;
    display: inline-block;
    text-align:left;
}
 
.product-preview-container input {
    width: 50px;
}
 
 
.product-image {
    width: 120px;
    height: 80px;
}
 
ul {
    list-style-type: none;
    padding-left: 5px;
    margin:5px;
}
 
 
.navi-item {
    margin: 5px 5px 5px 20px;
}
 
.button-update-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}
 
.button-send-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}
 
.error-message {
    font-size: 90%;
    color: red;
    font-style: italic;
}
 
.price {
    color: blue;
    font-weight: bold;
}
 
.subtotal {
    color: red;
    font-weight: bold;
}
 
.total {
    color: red;
    font-weight: bold;
    font-size: 120%;
}
 
table td {
    padding: 5px;
}