/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2017, 4:08:54 PM
    Author     : n13dc_000
*/
.navbar{
    border: 25px solid transparent;
}

.carousel-inner{
    width: 90%;
   height: 100%;
    
}
*{
    
    box-sizing: initial;
}
h2, .h2{
    text-align:-webkit-center;
}
.navbar-default .navbar-nav>li>a{
    font-family:monospace;
    color: 0033FF;
    font-size: 15px;
}
.navbar-default .navbar-nav>li>a.dropdown-menu{
    font-family: monospace;
    color: #428bca;
}
.form-control{
    width: 60%;
    height: 35px;
    padding: 5px 5px;
    
}
.btn-block{
    width: 30%;
    padding: 10px 5px;
}


