<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TMS - Admin Edit Trainer</title>
    <style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
       background-color: #99FFFF;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
   }
   .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
}
body {
	background: url("../images/grey.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
     <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo1.png}" src="../static/images/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <form action="#" th:action="@{/logout}" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      
        <li><a href="/formadmin/admin_adduser_trainer">Manage Trainer Account</a></li>
        <li><a href="/formadmintraining/admin_adduser_training">Manage Training Account</a></li>
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h3 style="text-align:center; color: blue;">Logged user: <span sec:authentication="name"></span> <br/></h3>
	
  
	<h1>Edit Trainer Account</h1>
	<!--  <form action="#" th:action="@{/formadmin/xulysua}" th:object="${user}">
	
	<p><input type="hidden" th:field="*{userId}"/></p>
	<p>userId <label type="text" th:text="*{userId}" placeholder=" User ID..."/></p>
	<p>Account <input type="text" th:field="*{account}" placeholder="Account..."/></p>
	<p>Password <input type="text" th:field="*{password}" placeholder=" Password..."/></p>
	<p>Job</p>
	<select th:field="*{job}">
		<option th:each="item:${listJob}" th:value="${item.jobId}" th:text="${item.jobName}"></option>
	</select>
	<p><input type="submit" value=" Update "/></p>
	</form>-->
	 
	 <form  action="#" th:action="@{/formadmin/xulysua}" th:object="${user}" method="POST"
	  modelAttribute="user" style="margin-left: 350px;">
	  <p><input type="hidden" th:field="*{userId}"/></p>
    <table>

        <tr>
            <td>userId</td>
            <td>
                <label type="text" th:text="*{userId}" placeholder=" User ID..."/><br/>
            </td>
        </tr>
           <tr>
            <td>Account</td>
            <td>
                <input  type="text" th:field="*{account}" placeholder="Account ..."/><br/>
                <th:errors class="error-message" path="account" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input  type="password" th:field="*{password}" placeholder="Password ..."/><br/>
            </td>
        </tr>
   <p>Job</p><br/>
	<select th:field="*{job}">
		<option th:each="item:${listJob}" th:value="${item.jobId}" th:text="${item.jobName}"></option>
	</select>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="  Update  "/>
            </td>
        </tr>
    </table> 
    
	   </form>   
	
	<h1>List Trainer Account</h1>
	<table class="table table-hover">
		<tr>
			<th>userID</th>
			<th>Account</th>
			<th>Job</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		<tr th:each="item:${listUser}">
			<td th:text="${item.userId}"></td>
			<td th:text="${item.account}"></td>
			<td th:text="${item.job.jobName}"></td>
			<td><a th:href="@{/formadmin/admin_edituser_trainer/{id}(id=${item.userId})}"><img th:src="@{/images/update3.png}" src="../static/images/update3.png"/></a></td>
			<td><a th:href="@{/formadmin/xoauser/{id}(id=${item.userId})}"  onclick="return confirm('Do you want to delete?')"><img th:src="@{/images/delete3.png}" src="../static/images/delete3.png"/></a></td>
		</tr>
	</table>
	
</body>
</html>