<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome html default</title>
<style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
  }
 .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
}
body {
	background: url("../images/grey.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
<script language="javascript">
function validateForm() {
    var a = document.forms["myForm"]["name"].value;
    if (a=="") {
        alert("Name must be filled out");
        return false;
    }  
    var	b = document.forms["myForm"]["age"].value;   	    
    if(b=="")
    {
		alert("Age must be filled out");
		return false;
    }
    var c = document.forms["myForm"]["date_of_birth"].value;   	    
    if(c=="")
    {
		alert("Date of birth must be filled out");
		return false;
    }
    var d = document.forms["myForm"]["education"].value;   	    
    if(d=="")
    {
		alert("Education must be filled out");
		return false;
    }
    var e = document.forms["myForm"]["main_program_language"].value;   	    
    if(e=="")
    {
		alert("Main language must be filled out");
		return false;
    }
    var f = document.forms["myForm"]["toeic_score"].value;   	    
    if(f=="")
    {
		alert("Toeic score must be filled out");
		return false;
    }
    var g = document.forms["myForm"]["experience"].value;   
    if(g=="")
    {
		alert("Experience must be filled out");
		return false;
    }
    var h = document.forms["myForm"]["department"].value;   
    if(h=="")
    {
		alert("Department must be filled out");
		return false;
    }
    var i = document.forms["myForm"]["location"].value;   
    if(i=="")
    {
		alert("Location must be filled out");
		return false;
    }
    var j = document.forms["myForm"]["working_place"].value;   
    if(j=="")
    {
		alert("Working place must be filled out");
		return false;
    }
    var k = document.forms["myForm"]["telephone"].value;   
    if(k=="")
    {
		alert("Telephone must be filled out");
		return false;
    }
    var l = document.forms["myForm"]["email"].value;   
    if(l=="")
    {
		alert("Email must be filled out");
		return false;
    }
    return true;
}

        </script>
         
      <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo1.png}" src="../static/images/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">
    <form action="#" th:action="@{/logout}" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
    </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/formtraining/training_adduser_trainee">Manage trainee account</a></li>
            <li><a href="/form/them">Manage category</a></li>
            <li><a href="/formcourse/themcourse">Manage course</a></li>
            <li><a href="/formtopic/themtopic">Manage topic</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee">Manage trainer profile</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee1">Manage trainee profile</a></li>
            <li><a href="/formcourseuser/training_addcourse_trainee">Add  course</a></li>
            <li><a href="/trainer">Import list trainee accounts</a></li>
            
          </ul>
        </li>
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h3 style="text-align:center; color: blue;">Logged user: <span sec:authentication="name"></span> <br/></h3>
	
    
	<h1>Add userproperty</h1>
	<form action="#" th:action="@{/formtraining_info/dathem1}" onsubmit="return validateForm()"  name="myForm" th:object="${info}" style="margin-left: 350px;">
	<p><input type="hidden"  th:field="*{user}"/></p>
	
	<table>
	
	   <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}" name="name" placeholder="Name..."/><br/>

            </td>
        </tr>
         <tr>
            <td>Age</td>
            <td>
               <input type="text" th:field="*{age}"  name="age"  placeholder="Age..." onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" /><br/>

            </td>
        </tr>
          <tr>
            <td>Date of Birth</td>
            <td>
               <input type="text" th:field="*{date_of_birth}" name="date_of_birth" placeholder="Date of birth ..."/><br/>
               

            </td>
        </tr>
	   <tr>
            <td>Education</td>
            <td>
              <input type="text" th:field="*{education}" name="education" placeholder="Education..."/><br/>
              

            </td>
        </tr>
          <tr>
            <td>Main Pro Language</td>
            <td>
              <input type="text" th:field="*{main_program_language}" name="main_program_language" placeholder="Main program..."/><br/>

            </td>
        </tr>
          <tr>
            <td>Toeic Score</td>
            <td>
               <input type="text"  placeholder="Toeic score..." th:field="*{toeic_score}" name="toeic_score" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"/><br/>
               

            </td>
        </tr>
          <tr>
            <td>Experience</td>
            <td>
            <input type="text" th:field="*{experience}" name="experience" placeholder="Experience..."/><br/>
            

            </td>
        </tr>
            <tr>
            <td>Department</td>
            <td>
       <input type="text" th:field="*{department}" name="department" placeholder="Department..."/><br/>
            </td>
        </tr>
             <tr>
            <td>Location</td>
            <td>
      <input type="text" th:field="*{location}" name="location" placeholder="Location..."/><br/>
      
            </td>
        </tr>
        
             <tr>
            <td>Woking Place</td>
            <td>
     <input type="text" th:field="*{working_place}" name="working_place" placeholder="Working place ..."/><br/>
     
            </td>
        </tr>
                <tr>
            <td>Telephone</td>
            <td>
    <input type="text" th:field="*{telephone}"  placeholder="Telephone..." name="telephone" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"/><br/>
    
            </td>
        </tr>
                <tr>
            <td>Email</td>
            <td>
	<input type="email" th:field="*{email}" name="email"  placeholder="Email..." /><br/>
   
            </td>
        </tr>
	<tr>
            <td></td>
            <td>
                <input type="submit" value="  Add  "/> 
            </td>
        </tr>

	
	</table>
	</form>

</body>
</html>