
<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>TMS System - Login</title>
<script language="javascript">
function validateForm() {
    var a = document.forms["myForm"]["account"].value;
    if (a=="") {
        alert("Account must be filled out");
        return false;
    }  
    var	b = document.forms["myForm"]["password"].value;   	    
    if(b=="")
    {
		alert("Password must be filled out");
		return false;
    }   
     return true;
}
</script>
<style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
  }
 .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
   
}
body {
	background: url("../images/bg2.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
      
     

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css' />
     <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>

<body>
	<div class="container">
		<div class="top">
			<h1 id="title" class="hidden"><span id="logo">TMS <span>System</span></span></h1>
		</div>
		
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h2>Log In</h2>
			</div>
	<p th:if="${param.error}" class="error"> Password or account not available</p>
	<p th:if="${param.register}" class="success">Register success!</p>
	<p th:if="${param.logout}" class="success">You just logged out</p>
        <form th:action="@{/login}" method="POST" onsubmit="return validateForm()"  name="myForm">
			
			<label for="username">Username</label>
			<br/>
			<input type="text" name="account" placeholder="Account..." />
			<br/>
			<label for="password">Password</label>
			<br/>
			<input type="password" name="password" placeholder="Password..." />
			<br/>
			<button type="submit">Sign In</button>
			<br/>
			</form>
		</div>
	</div>
</body>

</html>
</html>