<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TMS - Update Property</title>
    <style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
   }
   .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
}
body {
	background: url("../images/grey.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
     <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
 <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
 
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo1.png}"   src="../static/images/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
     <form action="#" th:action="@{/logout}" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/formtrainer/trainer_update_info">Update profile</a></li>
            <li><a href="/formtrainerviewcourse/trainer_viewcourse">View course topic assigned to</a></li>
          </ul>
        </li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Training <span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li><a href="/formtraining/training_adduser_trainee">Manage trainee account</a></li>
            <li><a href="/form/them">Manage category</a></li>
            <li><a href="/formcourse/themcourse">Manage course</a></li>
            <li><a href="/formtopic/themtopic">Manage topic</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee">Manage trainer profile</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee1">Manage trainee profile</a></li>
            <li><a href="/formcourseuser/training_addcourse_trainee">Add  course</a></li>
            <li><a href="/trainer">Import list trainee accounts</a></li>
            
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/formadmin/admin_adduser_trainer">Manage Trainer Account</a></li>
            <li><a href="/formadmintraining/admin_adduser_training">Manage Training Account</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h3 style="text-align:center; color: blue;">Logged user: <span sec:authentication="name"></span> <br/></h3>
	
   
	<h1>Update property</h1>
	<!-- <form action="#" th:action="@{/formproperty/xulysua}" th:object="${property}">
	<p><input type="hidden" th:field="*{propertyId}"/></p>
	<p>propertyId: <label type="text" th:text="*{propertyId}"/></p>
	<p>propertyName: <input type="text" th:field="*{propertyName}"/></p>
	<p>Description: <input type="text" th:field="*{description}"/></p>
	<p><input type="submit" value="Update"/></p>
	</form> -->
	
		<form  action="#" th:action="@{/formproperty/xulysua}" th:object="${property}" method="POST"
	  modelAttribute="property" style="margin-left: 350px;">
	  <p><input type="hidden" th:field="*{propertyId}"/></p>
    <table>

        <tr>
            <td>propertyId</td>
            <td>
               <label type="text" th:text="*{propertyId}" /><br/>
            </td>
        </tr>
          <tr>
            <td>propertyName</td>
            <td>
                <input  type="text" th:field="*{propertyName}" placeholder="Peroperty name..."/><br/>
                <th:errors class="error-message" path="propertyName" th:if="${#fields.hasErrors('propertyName')}" th:errors="*{propertyName}"/>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input  type="text" th:field="*{description}" placeholder="Description ..."/><br/>
            </td>
        </tr>
  
        <tr>
            <td></td>
            <td>
                <input type="submit" value="  Update  "/>
            </td>
        </tr>
    </table> 
      <a href="/formproperty/themproperty">Back</a>
	   </form> 
	
	<h1>List property</h1>
	<table border="1" class="table table-hover table-bordered">
		<tr>
			<th>propertyID</th>
			<th>propertyName</th>
			<th>Description</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		<tr th:each="item:${listProperty}">
			<td th:text="${item.propertyId}"></td>
			<td th:text="${item.propertyName}"></td>
			<td th:text="${item.description}"></td>
			<td><a th:href="@{/formproperty/suaproperty/{id}(id=${item.propertyId})}"><img th:src="@{/images/update3.png}" src="../static/images/update3.png"/></a></td>
			<td><a th:href="@{/formproperty/xoaproperty/{id}(id=${item.propertyId})}" onclick="return confirm('Do you want to delete?')"><img th:src="@{/images/delete3.png}" src="../static/images/delete3.png"/></a></td>
		</tr>
	</table>
</body>
</html>