<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TMS - Add Course</title>
     <style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
   }
   .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
}
body {
	background: url("../images/grey.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
     <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo1.png}" src="../static/images/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
     <form action="#" th:action="@{/logout}" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
    </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/formtraining/training_adduser_trainee">Manage trainee account</a></li>
            <li><a href="/form/them">Manage category</a></li>
            <li><a href="/formcourse/themcourse">Manage course</a></li>
            <li><a href="/formtopic/themtopic">Manage topic</a></li>
           <li><a href="/formtraining_info/listTrainingInfoTrainee">Manage trainer profile</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee1">Manage trainee profile</a></li>
            <li><a href="/formcourseuser/training_addcourse_trainee">Add course</a></li>
            <li><a href="/trainer">Import list trainee accounts</a></li>
            
          </ul>
        </li>
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h3 style="text-align:center; color: blue;">Logged user: <span sec:authentication="name"></span> <br/>
</h3>
	
   
	<h1>Add Course</h1>
	<!--  <form action="#" th:action="@{/formcourse/xulythem}" th:object="${course}">
		<p>CourseName: <input type="text" th:field="*{courseName}"/></p>
		<p>Description: <input type="text" th:field="*{description}"/></p>	
		<p>Select Category</p>
		<select th:field="*{category}">
			<option th:each="item:${listCategory}" th:value="${item.categoryId}" th:text="${item.categoryName}"></option>
		</select>
		<p><input type="submit" value="Add"/><input type="reset" value="Reset"/></p>
	</form>-->
	<form  action="#" th:action="@{/formcourse/xulythem}" th:object="${course}" method="POST"
	  modelAttribute="course" style="margin-left: 350px;">
    <table>

        <tr>
            <td>CourseName</td>
            <td>
                <input  type="text" th:field="*{courseName}"/><br/>
                <th:errors path="courseName" class="error-message" th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"/>
            </td>
        </tr>
         
        <tr>
            <td>Description</td>
            <td>
                <input  type="text" th:field="*{description}"/>
                <th:errors path="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
            </td>
        </tr>
         <p>Select Category</p>
		<select th:field="*{category}">
			<option th:each="item:${listCategory}" th:value="${item.categoryId}" th:text="${item.categoryName}"></option>
		</select>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add"/> 
            </td>
        </tr>
    </table> 
    <a href="/formcourse/themcourse">Back</a>
	</form>
	
	
	<form class="navbar-form navbar-left" role="search" action="#" th:action="@{/formcourse/xulysearch}">
	 
        <div class="form-group">
          <input type="text" class="form-control" name = "search" placeholder="Search"/>
        </div>
       <button type="submit" class="btn btn-default"><img th:src="@{/images/search.png}" src="../static/images/search.png"/></button>
      </form>
	
	
	
	<h1>List Course</h1>
	<table class="table table-hover">
		<tr>
			<th>CourseID</th>
			<th>CourseName</th>
			<th>Description</th>
			<th>Category</th>
			<th>View</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		<tr th:each="item:${listCourse}">
			<td th:text="${item.courseId}"></td>
			<td th:text="${item.courseName}"></td>
			<td th:text="${item.description}"></td>
			<td th:text="${item.category.categoryName}"></td>
			<td><a th:href="@{/formcourse/xemtopic/{id}(id=${item.courseId})}"><img th:src="@{/images/view.png}" src="../static/images/view.png"/></a></td>
			
			<td><a th:href="@{/formcourse/suacourse/{id}(id=${item.courseId})}"><img th:src="@{/images/update3.png}" src="../static/images/update3.png"/></a></td>
			<td><a th:href="@{/formcourse/xoacourse/{id}(id=${item.courseId})}" onclick="return confirm('This course will not be deleted if it has topics. Do you want to delete?')"><img th:src="@{/images/delete3.png}" src="../static/images/delete3.png"/></a></td>
		</tr>
	</table>
</body>
</html>