<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome html default</title>
<style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
  }
 .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
}
body {
	background: url("../images/grey.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
<script language="javascript">
function validateForm() {
    var a = document.forms["myForm"]["name"].value;
    if (a=="") {
        alert("Name must be filled out");
        return false;
    }  
    var d = document.forms["myForm"]["education"].value;   	    
    if(d=="")
    {
		alert("Education must be filled out");
		return false;
    }
    var b = document.forms["myForm"]["type"].value;   	    
    if(d=="")
    {
		alert("Type must be filled out");
		return false;
    }
    var j = document.forms["myForm"]["working_place"].value;   
    if(j=="")
    {
		alert("Working place must be filled out");
		return false;
    }
    var k = document.forms["myForm"]["telephone"].value;   
    if(k=="")
    {
		alert("Telephone must be filled out");
		return false;
    }
    var l = document.forms["myForm"]["email"].value;   
    if(l=="")
    {
		alert("Email must be filled out");
		return false;
    }
    return true;
}

        </script>
         
      <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo1.png}" src="../static/images/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
       <form action="#" th:action="@{/logout}" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
    </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/formtrainer/trainer_update_info">Update profile</a></li>
            
            <li><a href="/formtrainerviewcourse/trainer_viewcourse">View course topic assigned to</a></li>
          </ul>
        </li>
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h3 style="text-align:center; color: blue;">Logged user: <span sec:authentication="name"></span> <br/></h3>
	
 
	<h1>Add userproperty</h1>
	
	<form action="#" th:action="@{/formtrainer/xulysua}" onsubmit="return validateForm()"  name="myForm" th:object="${info}">	
	<div style="margin-left: 350px;">
	<table>
	
	   <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}" name="name" placeholder="Name..."/><br/>

            </td>
        </tr>
        
	   <tr>
            <td>Education</td>
            <td>
              <input type="text" th:field="*{education}" name="education" placeholder="Education..."/><br/>
              

            </td>
        </tr>
          <tr>
            <td>Type</td>
            <td>
              <input type="text" th:field="*{type}" name="type" placeholder="Type..."/><br/>

            </td>
        </tr>
          <tr>
            <td>Working place</td>
            <td>
               <input type="text" th:field="*{place}" name="place" placeholder="Working place..." /><br/>
            </td>
        </tr>
        
                <tr>
            <td>Telephone</td>
            <td>
    <input type="text" th:field="*{telephone}" placeholder="Telephone..." name="telephone" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;"/><br/>
    
            </td>
        </tr>
                <tr>
            <td>Email</td>
            <td>
	<input type="email" th:field="*{email}" name="email" placeholder="Email..."  /><br/>
   
            </td>
        </tr>
	<tr>
            <td></td>
            <td>
                <input type="submit" value="  Add  "/> 
            </td>
        </tr>

	
	</table>
	</div>
	</form>
	
 
		<h1>List property</h1>
		
	<table class="table table-hover" >
	<tr>
			<td>Name</td>
			<td>Education</td>
			<td>Type</td>
			<td>Working place</td>
			<td>Phone</td>
			<td>Email</td>
		</tr>
		<td th:each="item:${listinfo}">
			<p style="text-align:left" th:text="${item}"></p>
		</td>
	</table>
	
</body>
</html>