<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome html default</title>
     <style>
   table  {
       margin-top: 10px;
       border: solid black 1px;
   }
   table  td {
        padding: 5px;
   }
   .message  {
        font-size:90%;
        color:blue;
        font-style:italic;
        margin-top:30px;
   }
   .error-message {
   color: red;
   font-size:90%;
   font-style: italic;
}
body {
	background: url("../images/grey.jpg") no-repeat center center fixed;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}
</style>
      <link  th:href="@{/css/bootstrap.min.css}" href="/src/main/resources/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link  th:href="@{/css/myweb1.css}" href="/src/main/resources/static/css/myweb1.css" rel="stylesheet" type="text/css"/>
		
		<link th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css" rel="stylesheet" type="text/css"/>
		<link th:href="@{/css/header.css}" href="/src/main/resources/static/css/header.css" rel="stylesheet" type="text/css"/>
		 <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/src/main/resources/static/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"  src="/src/main/resources/static/js/bootstrap.min.js"></script> 
		<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo1.png}" src="../static/images/logo1.png"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
    <ul class="nav navbar-nav navbar-right">	
    <form action="#" th:action="@{/logout}" method="POST">
        <button class="btn" type="submit">Logout</button>
    </form>
    </ul>
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/formtraining/training_adduser_trainee">Manage trainee account</a></li>
            <li><a href="/form/them">Manage category</a></li>
            <li><a href="/formcourse/themcourse">Manage course</a></li>
            <li><a href="/formtopic/themtopic">Manage topic</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee">Manage trainer profile</a></li>
            <li><a href="/formtraining_info/listTrainingInfoTrainee1">Manage trainee profile</a></li>
            <li><a href="/formcourseuser/training_addcourse_trainee">Add course</a></li>
            <li><a href="/trainer">Import list trainee accounts</a></li>
            
          </ul>
        </li>
      </ul>
     
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h3 style="text-align:center; color: blue;">Logged user: <span sec:authentication="name"></span> <br/></h3>

	<h1>Edit userproperty</h1>
<!-- 	<form action="#" th:action="@{/formtrainingpropertytrainer/xulysua}" th:object="${userProperty}">
	<p><input type="hidden" th:field="*{id.userId}"/></p>
	<p>User: <label type="text" th:text="*{user.account}"/></p>
	<p><input type="hidden" th:field="*{id.propertyId}"/></p>
	<p>Property: <label type="text" th:text="*{property.propertyName}"/></p>
	<p>PropertyValue: <input type="text" th:field="*{propertyValue}" /></p>
	<p><input type="submit" value="Update"/></p>
	</form> -->
	
	<form  action="#" th:action="@{/formtrainingpropertytrainer/xulysua}" th:object="${userProperty}" method="POST"
	  modelAttribute="userProperty" style="margin-left: 350px;">
	  <p><input type="hidden" th:field="*{id.userId}"/></p>
    <table>

        <tr>
            <td>User</td>
            <td>
                <label type="text" th:text="*{user.account}"/>
            </td>
        </tr>
        <p><input type="hidden" th:field="*{id.propertyId}"/></p>
        <tr>
            <td>Property</td>
            <td>
               <label type="text" th:text="*{property.propertyName}"/>
            </td>
        </tr>
         <tr>
            <td>PropertyValue</td>
            <td>
                <input  type="text" th:field="*{propertyValue}" placeholder="Property value..."/>
            </td>
        </tr>
        
         
        <tr>
            <td></td>
            <td>
                <input type="submit" value="  Update  "/> 
            </td>
        </tr>
    </table> 
   
	</form>
	<h1>List user</h1>
	<table class="table table-hover">
		<tr>
			<th>userID</th>
			<th>propertyID</th>
			<th>propertyValue</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		<tr th:each="item:${listUserProperty}">
			<td th:text="${item.user.account}"></td>
			<td th:text="${item.property.propertyName}"></td>
			<td th:text="${item.propertyValue}"></td>
			<td><a th:href="@{/formtrainingpropertytrainer/training_editproperty_trainer/{id1}/{id2}(id1=${item.property.propertyId}, id2=${item.user.userId})}"><img th:src="@{/images/update3.png}" src="../static/images/update3.png"/></a></td>
			<td><a th:href="@{/formtrainingpropertytrainer/xoauserproperty/{id1}/{id2}(id1=${item.property.propertyId}, id2=${item.user.userId})}" onclick="return confirm('Do you want to delete?')"><img th:src="@{/images/delete3.png}" src="../static/images/delete3.png"/></a></td>
		</tr>
	</table>
</body>
</html>